@font-face {
  font-family: Questrial;
  src: url(fonts/Questrial-Regular.ttf);
}

/* a simple CSS reset */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  list-style: none;
  border: 0;
  box-sizing: border-box;
}

a:link,
a:visited {
  text-decoration: none;
  color: #313638;
}

/* Mobile/Small first CSS */
body {
  background-color: #f2f4f3;
  color: #313638;
  font-family: Questrial, sans-serif;
  font-size: 2em;
  width: 100vw;
}

footer {
  font-size: 30%;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 95vw;
  margin: auto;
}

nav > img {
  cursor: pointer;
  margin-top: 2.5vw;
}

.about {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 32vh;
  width: 60vw;
}

.about > h2 {
  color: #0d19a3;
  margin-bottom: 1.5vh;
}

.about > p {
  font-size: 75%;
}

.aboutInfo {
  margin-bottom: 2.5vh;
}

.contact {
  width: 60vw;
  margin: auto;
  margin-bottom: 30vh;
}

.contact > h1 {
  color: #0d19a3;
  margin-bottom: 3.5vh;
}

.contact > p {
  font-size: 75%;
  margin-bottom: 3vh;
}

.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 16vh;
  margin-bottom: 40vh;
  width: 60vw;
}

.projects {
  width: 60vw;
  margin: auto;
  margin-bottom: 40vh;
}

.projects > h3 {
  font-size: 75%;
}

.projects > h3,
#featured {
  margin-bottom: 1vh;
}

.projects > .description {
  font-size: 60%;
}

.projects > .description > p {
  margin-bottom: 1vh;
}

.projects > .projImg {
  box-shadow: 0 0 4px 3px #313638;
  opacity: 0.5;
  display: block;
  width: 60vw;
  margin: auto;
  margin-bottom: 2vh;
  transition: all 1s;
}

.projects > .projImg:hover {
  cursor: pointer;
  box-shadow: 0 0 4px 3px #0d19a3;
  opacity: 1;
}

.skills {
  padding-top: 100px;
  text-align: center;
}

.skillLists li {
  padding-top: 20px;
  font-size: 85%;
}

#contactLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45vw;
}

#contactLinks > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
}

#dropdown {
  position: relative;
}

#generatorLarge {
  display: none;
}

#links {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 0;
  margin-top: 150px;
  margin-right: 2.5vw;
  max-width: 8rem;
  font-size: 75%;
  text-align: right;
  padding: 5px;
  border: #313638;
  border-style: groove;
  border-radius: 7px;
  border-width: 2px;
}

#dropdown,
#logo {
  height: 100%;
}

#name {
  padding-bottom: 10vh;
  color: #0d19a3;
}

#projects {
  color: #0d19a3;
  margin-bottom: 3.5vh;
}

#skillStart {
  margin-top: 7vh;
  border-bottom: #0d19a3;
  border-style: ridge;
  width: 11rem;
}

/* Tablet/Medium CSS */
@media only screen and (min-width: 680px) {
  nav > img {
    margin-top: 60px;
  }

  .about {
    margin-top: 0;
    margin-bottom: 30vh;
  }

  .contact {
    margin-bottom: 40vh;
  }

  .intro {
    margin-top: 0;
    height: 80vh;
  }

  #contactLinks {
    width: 35vw;
  }

  #contactLinks > a {
    height: 35px;
  }

  #generatorSmall {
    display: none;
  }

  #generatorLarge {
    display: block;
  }

  #dropdown,
  #logo {
    height: 75px;
  }

  #links {
    font-size: 2.5rem;
    max-width: 12rem;
    margin-top: 300px;
    padding: 10px;
    border-radius: 10px;
    border-width: 4px;
  }

  #skillStart {
    border-bottom-width: 7px;
    width: 45vw;
    margin-bottom: 5vh;
  }
}

@media only screen and (min-width: 900px) {
  body {
    font-size: 3.5em;
  }

  .contact {
    margin-bottom: 27vh;
  }

  #contactLinks {
    width: 30vw;
  }

  #contactLinks > a {
    height: 50px;
  }

  #skillStart {
    width: 38vw;
  }
}
