@font-face {
  font-family: Questrial;
  src: url(fonts/Questrial-Regular.ttf);
}

/* a simple CSS reset */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  list-style: none;
  border: 0;
  box-sizing: border-box;
}

/* Mobile CSS */
body {
  background-color: #f2f4f3;
  color: #313638;
  font-family: Questrial, sans-serif;
  font-size: 2em;
  width: 100vw;
}

nav {
  display: flexbox;
  flex-direction: row;
  width: 100vw;
}

#logo {
  justify-content: flex-start;
}

#dropbtn {
  justify-content: flex-end;
}

#name {
  padding-bottom: 10vh;
  color: firebrick;
}

.about {
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  height: 100vh;
  width: 60vw;
  padding-left: 2vw;
}

.links {
  display: none;
}

.skills {
  padding-top: 100px;
  text-align: center;
}

.skillLists li {
  padding-top: 20px;
}
